<%# chamado de passe , aqui eu renderizo um componente, que é produto.
#por estar no mesmo pacote não preciso colocar mais além de 'produto' como o path do componente
#oque é feito , alterado, criado em _produto.html.erb , é refletido aqui%>
<%= render 'produto' %>

<div>
<%= link_to "listar produtos", produtos_path %>
</div>